<footer class="site-footer">
  <div class="container footer__top">
    <div class="footer__brand">
      <a class="logo" routerLink="/">
        <img class="logo__img" src="assets/siber_vera_icon.png" alt="SiberVera" />
      </a>
      <p>Kurumların bilgi güvenliğini sürdürülebilir ve mevzuata uyumlu hale
        getirmek için sahadan gelen deneyimle tasarlanmış çözümler.</p>
    </div>

    <div class="footer__col">
      <h4>Hizmetler</h4>
      <ul>
        <li><a routerLink="/hizmetler">Olgunluk Analizi</a></li>
        <li><a routerLink="/hizmetler">ISO 27001 &amp; KVKK</a></li>
        <li><a routerLink="/hizmetler">EKS Güvenliği</a></li>
        <li><a routerLink="/danismanlik">Danışmanlık</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4>Kurumsal</h4>
      <ul>
        <li><a routerLink="/hakkimizda">Hakkımızda</a></li>
        <li><a routerLink="/hakkimizda">Misyon &amp; Vizyon</a></li>
        <li><a routerLink="/iletisim">İletişim</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4>İletişim</h4>
      <p>Maltepe / İstanbul</p>
      <p>kadircetin&#64;sibervera.com.tr</p>
      <p>www.sibervera.com.tr</p>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-inner">
      <span>© {{ currentYear }} SiberVera Yazılım ve Danışmanlık A.Ş. Tüm hakları saklıdır.</span>
    </div>
  </div>
</footer>
